/*------------------------------
    PRELOADER
-------------------------------*/
/*== Preloader Area CSS Start ==*/

body.loader-active {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    overflow: hidden;
}

.preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: 9999;
}

.preloader-spinner {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
}

.loader-content {
    width: 150px;
}

/*== Preloader Area CSS End ==*/



/*----------------------------------
    LARGE LAYOUT: 1920px
-----------------------------------*/


.logo {
    margin-top: 5px;
    float: left;
}

@media only screen and (min-width: 1920px) {

    .welcome-text h1 {
        font-size: 60px;
    }

}



/*----------------------------------
    MEDIUM LAYOUT: 1280px
-----------------------------------*/

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .navbar-header {
        margin-top: 2px;
    }

    ul#nav li a {
        padding: 10px 10px;
    }

    .is-sticky ul#nav li a {
        padding: 10px 10px;
    }

    .welcome-text h1 {
        font-size: 45px;
    }

    .search-and-language-bar {
        margin-top: 20px;
    }

    .service-content h2 {
        font-size: 28px;
    }

    .area-title h2 {
        font-size: 36px;
    }

    .about-details-menu li a {
        font-size: 16px;
        padding: 10px 20px;
    }

    .single-service-two {
        padding: 20px 20px 20px 100px;
    }

}


/*----------------------------------
    TABLET LAYOUT: 768px
------------------------------------*/

@media (min-width: 768px) and (max-width: 991px) {
    .section-padding {
        padding: 250px 0;
    }

    .padding-top {
        padding-top: 80px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .navbar-header .collapse,
    .navbar-toggle {
        border: 2px solid #f39c12;
        border-radius: 0;
        display: block !important;
    }

    .navbar-toggle .icon-bar {
        background: #f39c12 none repeat scroll 0 0;
    }

    .navbar-header {
        float: none;
    }

    .navbar-header {
        margin: 0;
        padding: 25px 0;
    }

    ul#nav {
        width: 100%;
        max-height: 200px;
        overflow: scroll;
        overflow-x: hidden;
    }

    ul#nav li {
        float: none;
    }

    .is-sticky .navbar-header {
        margin: 0;
        padding: 15px 0;
    }

    .navbar-brand {
        margin-top: -2px;
        padding: 3px;
    }

    .is-sticky .navbar-brand {
        margin-top: -2px;
    }

    .mainmenu-area {
        background: transparent none repeat scroll 0 0;
    }

    ul#nav li a,
    .is-sticky ul#nav li a {
        color: rgb(255, 89, 0);
        padding: 10px 15px;
    }

    ul#nav li a::after {
        display: none;
    }

    /*-----------------*/
    .welcome-text {
        text-align: center;
    }

    .welcome-text h1 {
        font-size: 42px;
        letter-spacing: 2px;
    }

    .search-and-language-bar {
        display: none;
    }

    .single-blog {
        margin-bottom: 30px;
    }

    .blog-area .row>div:last-child .single-blog {
        margin-bottom: 0;
    }

    .home-two .blog-area .row>div:last-child .single-blog {
        margin-top: 0;
    }

    .blog-image img {
        width: 100%;
    }

    .quote-form-area {
        margin-bottom: 50px;
    }

    .service-content {
        margin-bottom: 50px;
    }

    .service-catalouge-content-area {
        margin-bottom: 50px;
    }

    .service-bottom-area-bg::after {
        width: 100%;
    }

    .service-icon-hexagon {
        left: 0;
    }

    .promo-top-area {
        background: inherit;
    }

    .about-left-content-area {
        margin-bottom: 50px;
    }

    .faqs-left-img {
        margin-bottom: 50px;
    }

    .faqs-left-img img {
        width: 100%;
    }

    .about-details-menu li a {
        font-size: 14px;
        padding: 10px;
    }

    .promo-img img {
        width: 100%;
    }

    .about-history-content img {
        width: 100%;
    }

    .annual-reports-image {
        margin-bottom: 30px;
    }

    .annual-reports-image img {
        width: 100%;
    }

    .service-area-three.section-padding {
        padding-bottom: 50px;
    }

    .about-history-content.history-list {
        margin-bottom: 0;
    }

    .footer-copyright-area {
        padding: 15px 0;
    }

    .footer-copyright-area,
    .footer-social-bookmark {
        text-align: center;
    }

    .footer-social-bookmark {
        margin-top: 19px;
    }

    .quote-form .width-half input {
        width: 48.5%;
    }

    .contact-form {
        margin-bottom: 50px;
    }

    .contact-image {
        text-align: center;
    }

    .service-menu {
        margin-top: 50px;
    }

}


/*----------------------------------
    MOBILE LAYOUT: 320px
-----------------------------------*/


@media only screen and (max-width: 767px) {
    .section-padding {
        padding: 155px 0;
    }

    .area-title {
        margin-bottom: 50px;
    }

    .area-title h2 {
        font-size: 26px;
    }

    .padding-top {
        padding-top: 50px;
    }

    .navbar-header {
        border-bottom: 1px solid #f39c12;
        margin: 0;
        padding: 15px 0;
    }

    ul#nav {
        width: 100%;
        max-height: 200px;
        overflow: scroll;
        overflow-x: hidden;
    }

    ul#nav li {
        float: none;
    }

    .navbar-brand {
        margin-top: -3px;
        padding: 8px;
    }

    .is-sticky .navbar-brand {
        margin-top: -3px;
    }

    .mainmenu-area {
        background: transparent none repeat scroll 0 0;
        height: 70px;
    }

    ul#nav li a,
    .is-sticky ul#nav li a {
        color: bisque;
        padding: 10px 15px;
    }

    ul#nav li a::after {
        display: none;
    }

    .is-sticky .navbar-brand>img {
        max-width: 100%;
    }

    .is-sticky .menu-toggle.full {
        top: 8px;
    }

    /*-----------------*/
    .flex-v-center {
        -webkit-box-align: inherit;
        -ms-flex-align: inherit;
        align-items: inherit;
        display: inherit;
    }

    .welcome-text {
        text-align: center;
    }

    .welcome-text h1 {
        font-size: 20px;
        letter-spacing: 1px;
    }

    .home-button {
        display: none;
    }

    .search-and-language-bar {
        display: none;
    }


    .single-blog {
        margin-bottom: 30px;
    }

    .blog-area .row>div:last-child .single-blog {
        margin-bottom: 0;
    }

    .blog-image img {
        width: 100%;
    }

    .about-count {
        margin-top: 40px;
    }

    .quote-form-area {
        margin-bottom: 50px;
    }

    .service-content {
        margin-bottom: 50px;
    }

    .service-catalouge-content-area {
        margin-bottom: 50px;
    }

    .service-bottom-area-bg::after {
        width: 100%;
    }

    .service-icon-hexagon {
        left: 0;
    }

    .promo-top-area {
        background: inherit;
    }

    .about-left-content-area {
        margin-bottom: 50px;
    }

    .faqs-left-img {
        margin-bottom: 50px;
    }

    .faqs-left-img img {
        width: 100%;
    }

    .about-details-menu li a {
        font-size: 14px;
        margin-bottom: 10px;
        padding: 8px;
    }

    .promo-img img {
        width: 100%;
    }

    .about-history-content img {
        width: 100%;
    }

    .annual-reports-image {
        margin-bottom: 30px;
    }

    .annual-reports-image img {
        width: 100%;
    }

    .service-area-three.section-padding {
        padding-bottom: 50px;
    }

    .about-history-content.history-list {
        margin-bottom: 0;
    }

    .footer-copyright-area {
        padding: 15px 0;
    }

    .footer-copyright-area,
    .footer-social-bookmark {
        text-align: center;
    }

    .footer-social-bookmark {
        margin-top: 19px;
    }

    .quote-form .width-half input {
        width: 48.5%;
    }

    .about-content h2 {
        font-size: 26px;
    }

    .service-content h2 {
        font-size: 26px;
    }

    .single-promo {
        margin-bottom: 15px;
    }

    .single-promo h3 {
        font-size: 18px;
    }

    .promo-area .row>div:last-child .single-promo {
        margin-bottom: 0;
    }

    .promo-bottom-content h2 {
        font-size: 20px;
    }

    .single-service-two {
        border: 1px solid rgb(254, 135, 31);
        margin-bottom: -1px;
        background-color: bisque;
    }

    .subscribe-content h2 {
        font-size: 26px;
    }

    .subsriber-form {
        height: 40px;
    }

    .subsriber-form input {
        width: 60%;
    }

    .subsriber-form button {
        width: auto;
    }

    .home-two .welcome-area {
        padding-bottom: 0;
    }

    .home-two .blog-area .single-blog {
        margin-top: 0;
    }

    .home-two .blog-area .row>div:first-child .single-blog {
        margin-top: 50px;
    }

    .contact-form {
        margin-bottom: 50px;
    }

    .contact-image {
        text-align: center;
    }

    .comments-area ul li:nth-child(2n) {
        margin-left: 30px;
    }

    .service-menu {
        margin-top: 50px;
    }

}

.text-orange {
    color: #f99500;
}

.text-white {
    color: #ddd;
}

.text-black {
    color: black;
}

/*----------------------------------
    WIDE MOBILE LAYOUT: 480px
-----------------------------------*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .section-padding {
        padding: 155px 0;
    }

    .area-title h2 {
        font-size: 40px;
    }

    ul#nav {
        width: 100%;
        max-height: 200px;
        overflow: scroll;
        overflow-x: hidden;
    }

    ul#nav li {
        float: none;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 3000px) {
    .section-padding {
        padding: 240px 0;
    }

    .area-title h2 {
        font-size: 40px;
    }

    ul#nav {
        width: 100%;
        max-height: 200px;
        overflow: scroll;
        overflow-x: hidden;
    }

    ul#nav li {
        float: none;
    }
}