{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!--END MAINMENU AREA END
    
        <div class="welcome-area">
            <div class="area-bg"></div>
            <div class="container">
                <div class="row flex-v-center">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="welcome-text text-center">
                            <h2>About Us</h2>
                            <ul class="page-location">
                                <li><a href="/">Home</a></li>
                                <li>/</li>
                                <li><a href="#">About</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    END TOP AREA-->

<!--ABOUT DETAILS AREA-->

<!--ABOUT US-->
<section class="about-details-area section-padding wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12">
                <div class="area-title text-center wow fadeIn">
                    <h2 class="text-orange">about BMS</h2>
                    <p class="text-white">First of all we are responsible, honest and friendly.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <ul class="about-details-menu text-white">
                    <li class="active"><a data-toggle="tab" class=" text-orange" href="#company">Company Profile</a>
                    </li>
                    <li><a data-toggle="tab" class=" text-orange" href="#history">Our History</a></li>
                    <!-- <li><a data-toggle="tab" class=" text-black" href="#report">Annual Report</a></li>-->
                    <li><a data-toggle="tab" class=" text-orange" href="#team">Team Member</a></li>
                    <li><a data-toggle="tab" class=" text-orange" href="#support">Client Support</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="tab-content about-details-content">
                    <div id="company" class="about-company tab-pane fade in active">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                <div class="about-history-content">
                                    <p class="text-white">We are a transportation and consiltancy company based in
                                        finland, We have good experience in supply chain management, and we
                                        offer consultations in
                                        project management and in Sustainable environmental management.
                                        We are known for reliable delivery services, moving in and out, Environmental
                                        services and wellbeing consultations all over the world. We ensure first-class
                                        customer care services and cherish your goods like our own.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                <div class="about-history-content">
                                    <img src="{% static 'img/about/truck1.jpg' %}" class="thumbnail" alt="">
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                <div class="about-history-content">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                                <div class="about-history-content">
                                    <h3 class=" text-orange">Our Mission</h3>
                                    <p>OUR objective is to become an extension of our clients' business by taking care
                                        of all their courier needs by providing them with unparallel transportation
                                        management solutions acceding to our core values of reliability, accuracy,
                                        integrity, and service. We will never fail in exceeding our clients’
                                        expectations.

                                        We are specialized in moving in & moving out services, scheduled deliveries,
                                        and environmental solutions:
                                    </p>
                                    <ul>
                                        <li><i class="fa fa-check"></i> We guarantee the integrity of your supply chain.
                                        </li>
                                        <li><i class="fa fa-check"></i> We concentrate on less than 24-hour deliveries.
                                        </li>
                                        <li><i class="fa fa-check"></i> We deliver same-day – even within an hour for
                                            rush critical deliveries.</li>
                                        <li><i class="fa fa-check"></i> We are a highly-specialized, customer-driven
                                            business, focused on moving in and moving out services,moving for

                                            customers on a “just-in-time” basis.</li>

                                    </ul>
                                    <!-- <a href="#" class="read-more">Learn More</a>-->
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                                <div class="about-history-content">
                                    <img src="{% static 'img/about/about-details-bottom.jpg' %}" class="thumbnail"
                                        alt="">
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                                <div class="about-history-content ">
                                    <h3 class=" text-orange">Our Vision</h3>
                                    <p>WE want to become the premiere Same-day-delivery company serving the courier
                                        needs of businesses and individuals in Finland . Further, in a couple of years
                                        we'll extend our reach to the whole nation and beyond. We want to realize our
                                        objectives by providing our clients with consistent, dependable and accurate
                                        service at a cost effective rate. </p>
                                    <ul>
                                        <li><i class="fa fa-check"></i> We deliver items that the sender cannot reliably
                                            transport through other means due to time or

                                            other constraints.</li>
                                        <li><i class="fa fa-check"></i> CUSTOMER SERVICE is our top priority. We will be
                                            responsive to your concerns & complaints, fix problems immediately, and
                                            maintain standards of communication with you and your staff. If we are not
                                            able to prevent a problem we promise to fix it ASAP.</li>

                                    </ul>
                                    <!--<a href="#" class="read-more">Learn More</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="history" class="company-history tab-pane fade">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                <div class="about-history-content">
                                    <p class="text-white">We have good experience in supply chain management, and we
                                        offer consultations in
                                        project management and in Sustainable environmental management.
                                        We are known for reliable delivery services, moving in and out, Environmental
                                        services and wellbeing consultations all over the world. We ensure first-class
                                        customer care services and cherish your goods like our own.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                <div class="about-history-content">
                                    <img src="{% static 'img/contact-right.png' %}" alt="">
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                <div class="about-history-content history-list">
                                    <div class="single-history">
                                        <div class="history-year">
                                            <p>2020</p>
                                        </div>
                                        <h4>we start our business</h4>
                                        <p>Our journey started here, we appreciate the effort of everyone envolved.</p>
                                    </div>
                                    <div class="single-history">
                                        <div class="history-year">
                                            <p>2020</p>
                                        </div>
                                        <h4>Co-opperation & problem solution</h4>
                                        <p>In this year Our cooperation with big comanies started, and solving clients
                                            solution at large.</p>
                                    </div>
                                    <div class="single-history">
                                        <div class="history-year">
                                            <p>2020</p>
                                        </div>
                                        <h4>we are expanding our network </h4>
                                        <p>Expanded our network in diffrent cities.</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="report" class="company-anual-reports tab-pane fade">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                <div class="annual-reports">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                            <div class="annual-reports-image">
                                                <img src="{% static 'img/reports/2012.jpg' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                            <div class="annual-reports-content">
                                                <h4>2016 logistics transportation annual reprot</h4>
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard dummy text
                                                    ever since the 1500s, when an unknown printer took a galley of type
                                                    and scrambled it to make a type specimen book. It has survived not
                                                    only five centuries, but also the leap into electronic typesetting,
                                                    remaining essentially unchanged. </p>
                                                <ul>
                                                    <li><i class="fa fa-check"></i> Sed quia consequuntur magni dolores
                                                        eos.</li>
                                                    <li><i class="fa fa-check"></i> Sed quia consequuntur magni dolores
                                                        eos.</li>
                                                    <li><i class="fa fa-check"></i> Sed quia consequuntur magni dolores
                                                        eos.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 pull-right">
                                            <div class="annual-reports-image">
                                                <img src="{% static 'img/reports/2015.jpg' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                            <div class="annual-reports-content">
                                                <h4>2016 logistics transportation annual reprot</h4>
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard dummy text
                                                    ever since the 1500s, when an unknown printer took a galley of type
                                                    and scrambled it to make a type specimen book. It has survived not
                                                    only five centuries, but also the leap into electronic typesetting,
                                                    remaining essentially unchanged. </p>
                                                <ul>
                                                    <li><i class="fa fa-check"></i> Sed quia consequuntur magni dolores
                                                        eos.</li>
                                                    <li><i class="fa fa-check"></i> Sed quia consequuntur magni dolores
                                                        eos.</li>
                                                    <li><i class="fa fa-check"></i> Sed quia consequuntur magni dolores
                                                        eos.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                            <div class="annual-reports-image">
                                                <img src="{% static 'img/reports/2016.jpg' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                            <div class="annual-reports-content">
                                                <h4>2016 logistics transportation annual reprot</h4>
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard dummy text
                                                    ever since the 1500s, when an unknown printer took a galley of type
                                                    and scrambled it to make a type specimen book. It has survived not
                                                    only five centuries, but also the leap into electronic typesetting,
                                                    remaining essentially unchanged. </p>
                                                <ul>
                                                    <li><i class="fa fa-check"></i> Sed quia consequuntur magni dolores
                                                        eos.</li>
                                                    <li><i class="fa fa-check"></i> Sed quia consequuntur magni dolores
                                                        eos.</li>
                                                    <li><i class="fa fa-check"></i> Sed quia consequuntur magni dolores
                                                        eos.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 pull-right">
                                            <div class="annual-reports-image">
                                                <img src="{% static 'img/reports/2017.jpg' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                            <div class="annual-reports-content">
                                                <h4>2016 logistics transportation annual reprot</h4>
                                                <p>Lorem Ipsum is simply dummy text of the printing
                                                    and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard dummy text
                                                    ever since the 1500s, when an unknown printer took a galley of type
                                                    and scrambled it to make a type specimen book. It has survived not
                                                    only five centuries, but also the leap into electronic typesetting,
                                                    remaining essentially unchanged. </p>
                                                <ul>
                                                    <li><i class="fa fa-check"></i> Sed quia consequuntur magni dolores
                                                        eos.</li>
                                                    <li><i class="fa fa-check"></i> Sed quia consequuntur magni dolores
                                                        eos.</li>
                                                    <li><i class="fa fa-check"></i> Sed quia consequuntur magni dolores
                                                        eos.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="team" class="team-list tab-pane fade">
                        <div class="row">
                            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                                <div class="single-team">
                                    <div class="member-image">
                                        <img src="{% static 'img/team/aimable.jpg' %}" alt="">
                                    </div>
                                    <div class="member-details">
                                        <h3 class="text-orange">Aimable T.Rukundo</h3>
                                        <p class="text-orange">Founder</p>
                                        <div class="member-social-bookmark">
                                            <ul class="social-bookmark">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                                <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="support" class="support-content tab-pane fade">
                        <div class="row">
                            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                                <div class="single-promo">
                                    <div class="promo-icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                                    <div class="promo-details">
                                        <h3 class="text-orange">Our Location</h3>
                                        <p class="text-orange">Junailijankatu 1<br>
                                            PoBox 33560,<br> Tampere,<br>
                                            Finland</p>
                                    </div>
                                </div>
                                <div class="single-promo">
                                    <div class="promo-icon"><i class="fa fa-commenting" aria-hidden="true"></i></div>
                                    <div class="promo-details">
                                        <h3 class="text-orange">Our Hot line</h3>
                                        <p class="text-orange">Phone: +358465608744</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                                <div class="single-promo">
                                    <div class="promo-icon"><i class="fa fa-life-ring" aria-hidden="true"></i></div>
                                    <div class="promo-details">
                                        <h3 class="text-orange">24/ 7 Support</h3>
                                        <p class="text-orange">we are available 27/7 do not hesitate to contact us
                                            anytime</p>
                                    </div>
                                </div>
                                <div class="single-promo">
                                    <div class="promo-icon"><i class="fa fa-envelope" aria-hidden="true"></i>
                                    </div>
                                    <div class="promo-details">
                                        <h3 class="text-orange">Our Email</h3>
                                        <p class="text-orange">E-mail: betamultiservicesoy@gmail.com</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                                <div class="promo-img">
                                    <img src="{% static 'img/women.png' %}" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--ABOUT DETAILS AREA END-->

<div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12">
    <div class="area-title text-center wow fadeIn">
        <h2 class="text-orange">GET QUOTATION</h2>
        <p>Fill the form and get quotation for free
        </p>
    </div>
</div>

<!--ABOUT AREA-->
<section class="about-area  ">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <div class="quote-form-area wow fadeIn">
                    <h3>Get A Quotation</h3>
                    <p>Cotation is free of charge, do not hasitate to get it</p>
                    <!--<form class="quote-form" id="myform" method="post">
            
                                    <p class="width-full">
                                        <input type="text" name="from_name" id="name" placeholder="Your Name">
                                    </p>
                                    <p class="width-half">
                                        <input type="email" name="from_email" placeholder="Email">
                                        <input class="pull-right" type="phone" name="from_phone" placeholder="Phone">
                                    </p>
                                    <p class="width-half">
                                        <input type="text" name="from_type" placeholder="Type">
                                        <input class="pull-right" type="text" name="form_quantity" placeholder="Quantity">
                                    </p>
                                    <p class="width-full">
                                        <input type="text" name="form_location" placeholder="Origin">
                                    </p>
                                    <p class="width-full">
                                        <input type="text" name="form_destination" placeholder="Destination">
                                    </p>
                                    <p>
                                        <textarea name="message_html" cols="30" rows="4" placeholder="Your Message..."></textarea>
                                    </p>-->
                    <a href="/email" class="read-more">HERE</a>
                </div>
            </div>
            <div class="col-md-7 col-lg-7 col-md-offset-1 col-lg-offset-1 col-sm-12 col-xs-12">
                <div class="about-content-area wow fadeIn">
                    <div class="about-content">
                        <h2>We have experience in this field</h2>
                        <p>CUSTOMER SERVICE is our top priority. We will be responsive to your concerns & complaints,
                            fix problems immediately, and maintain standards of communication with you and your staff.
                            If we are not able to prevent a problem we promise to fix it ASAP.</p>

                    </div>
                    <div class="about-count">
                        <div class="single-about-count">
                            <h4><i class="fa fa-suitcase"></i> 120</h4>
                            <p>Our Customers</p>
                        </div>
                        <div class="single-about-count">
                            <h4><i class="fa fa-thumbs-o-up"></i> 98%</h4>
                            <p>Happy Customers</p>
                        </div>
                        <div class="single-about-count">
                            <h4><i class="fa fa-users"></i> 7</h4>
                            <p>Operation cities</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--ABOUT AREA END-->

<!--PROMO AREA-->
<section class="promo-area">
    <div class="promo-bottom-area section-padding">
        <div class="promo-botton-area-bg" data-stellar-background-ratio="0.6"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 col-sm-12 col-xs-12 text-center">
                    <div class="promo-bottom-content wow fadeIn">
                        <h2>we provide Local logistics service </h2>
                        <a href="/email" class="read-more">Get a quotation</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--PROMO AREA END-->

<!--TESTMONIAL AREA -->
<section class="testmonial-area ">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12">
                <div class="area-title text-center wow fadeIn">
                    <h2 class="text-orange">what client’s say</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div
                class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                <div class="client-photo-list wow fadeIn">
                    <div class="client_photo">
                        <div class="item">
                            <img src="{% static 'img/testmonial/1.jpg' %}" alt="">
                        </div>
                        <div class="item">
                            <img src="{% static 'img/testmonial/2.jpg' %}" alt="">
                        </div>
                        <div class="item">
                            <img src="{% static 'img/testmonial/3.jpg' %}" alt="">
                        </div>
                        <div class="item">
                            <img src="{% static 'img/testmonial/1.jpg' %}" alt="">
                        </div>
                        <div class="item">
                            <img src="{% static 'img/testmonial/2.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="client_nav">
                    <span class="fa fa-angle-left testi_prev"></span>
                    <span class="fa fa-angle-right testi_next"></span>
                </div>
            </div>
            <div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
                <div class="client-details-content wow fadeIn">
                    <div class="client_details">
                        <div class="item">
                            <q>Their attentiveness and ability to get things done quickly are impressive. BMS is a smart
                                company, when we had issue we receive direct communication right away. Their
                                responsiveness really shines when problems occur. BMS is efficient in resolving issues,
                                and they don’t drag their feet. </q>
                            <h3>JABIN KANE</h3>
                            <p>CEO, TOPSMMPANEL.COM</p>
                        </div>
                        <div class="item">
                            <q>BMS acts quickly to resolve overcharge issues if they occur. They immediately start the
                                inquiry process. Often times, billing issues happen when a new discount is implemented.
                                When I reach out, they respond within an hour. </q>
                            <h3>JABIN KANE</h3>
                            <p>CEO, TOPSMMPANEL.COM</p>
                        </div>
                        <div class="item">
                            <q>BMS constantly works to improve our shipping rates. We’ve worked with other companies,
                                and the biggest difference with them is their responsiveness. For example, we were being
                                overcharged for our DHR shipping while we were with a previous company. Our team pointed
                                it out to them, but they were slow in taking action </q>
                            <h3>JABIN KANE</h3>
                            <p>CEO, TOPSMMPANEL.COM</p>
                        </div>
                        <div class="item">
                            <q>Our team wanted to switch companies to handle our postage logistics. We weren’t happy
                                with the company we were using.BMS is our dream partiner </q>
                            <h3>JABIN KANE</h3>
                            <p>CEO, TOPSMMPANEL.COM</p>
                        </div>
                        <div class="item">
                            <q>The partner is very pleased with the engagement. BMS is quick to resolve issues and
                                provide solutions. They constantly strive to improve shipping rates and genuinely care
                                about the partner's success. Responsiveness and direct communication are hallmarks of
                                their high-quality work. </q>
                            <h3>JABIN KANE</h3>
                            <p>CEO, TOPSMMPANEL.COM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--TESTMONIAL AREA END -->

<!--CLIENTS AREA
    <section class="clients-area section-padding wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="client-list">
                        <div class="single-client">
                            <img src="{% static 'img/client/1.jpg' %}" alt="">
                        </div>
                        <div class="single-client">
                            <img src="{% static 'img/client/2.jpg' %}" alt="">
                        </div>
                        <div class="single-client">
                            <img src="{% static 'img/client/3.jpg' %}" alt="">
                        </div>
                        <div class="single-client">
                            <img src="{% static 'img/client/4.jpg' %}" alt="">
                        </div>
                        <div class="single-client">
                            <img src="{% static 'img/client/5.jpg' %}" alt="">
                        </div>
                        <div class="single-client">
                            <img src="{% static 'img/client/1.jpg' %}" alt="">
                        </div>
                        <div class="single-client">
                            <img src="{% static 'img/client/2.jpg' %}" alt="">
                        </div>
                        <div class="single-client">
                            <img src="{% static 'img/client/3.jpg' %}" alt="">
                        </div>
                        <div class="single-client">
                            <img src="{% static 'img/client/4.jpg' %}" alt="">
                        </div>
                        <div class="single-client">
                            <img src="{% static 'img/client/5.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  CLIENTS AREA END-->
{% endblock content %}