{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!--END TOP AREA-->

<!--CONTACT US AREA-->
<section class="contact-area" id="contact">

    <div class="contact-form-area section-padding gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="area-title text-center">
                        <h3 style="color:orange;">GET IN TOUCH</h3>
                        <p style="color:rgb(0, 255, 200);">Need any help just send a message to us</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                    <div class="contact-form">
                        <form method="post">
                            {% csrf_token %}
                            {{ form|crispy }}

                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <button type="submit">Send</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                    <div class="contact-image text-center">
                        <img src="{% static 'img/contact-right.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--CONTACT US AREA END-->
<!--TESTMONIAL AREA -->
<section class="testmonial-area ">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12">
                <div class="area-title text-center wow fadeIn">
                    <h2 class="text-orange">what client’s say</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div
                class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                <div class="client-photo-list wow fadeIn">
                    <div class="client_photo">
                        <div class="item">
                            <img src="{% static 'img/testmonial/1.jpg' %}" alt="">
                        </div>
                        <div class="item">
                            <img src="{% static 'img/testmonial/2.jpg' %}" alt="">
                        </div>
                        <div class="item">
                            <img src="{% static 'img/testmonial/3.jpg' %}" alt="">
                        </div>
                        <div class="item">
                            <img src="{% static 'img/testmonial/1.jpg' %}" alt="">
                        </div>
                        <div class="item">
                            <img src="{% static 'img/testmonial/2.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="client_nav">
                    <span class="fa fa-angle-left testi_prev"></span>
                    <span class="fa fa-angle-right testi_next"></span>
                </div>
            </div>
            <div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
                <div class="client-details-content wow fadeIn">
                    <div class="client_details">
                        <div class="item">
                            <q>Their attentiveness and ability to get things done quickly are impressive. BMS is a smart
                                company, when we had issue we receive direct communication right away. Their
                                responsiveness really shines when problems occur. BMS is efficient in resolving issues,
                                and they don’t drag their feet. </q>
                            <h3>JABIN KANE</h3>
                            <p>CEO, TOPSMMPANEL.COM</p>
                        </div>
                        <div class="item">
                            <q>BMS acts quickly to resolve overcharge issues if they occur. They immediately start the
                                inquiry process. Often times, billing issues happen when a new discount is implemented.
                                When I reach out, they respond within an hour. </q>
                            <h3>JABIN KANE</h3>
                            <p>CEO, TOPSMMPANEL.COM</p>
                        </div>
                        <div class="item">
                            <q>BMS constantly works to improve our shipping rates. We’ve worked with other companies,
                                and the biggest difference with them is their responsiveness. For example, we were being
                                overcharged for our DHR shipping while we were with a previous company. Our team pointed
                                it out to them, but they were slow in taking action </q>
                            <h3>JABIN KANE</h3>
                            <p>CEO, TOPSMMPANEL.COM</p>
                        </div>
                        <div class="item">
                            <q>Our team wanted to switch companies to handle our postage logistics. We weren’t happy
                                with the company we were using.BMS is our dream partiner </q>
                            <h3>JABIN KANE</h3>
                            <p>CEO, TOPSMMPANEL.COM</p>
                        </div>
                        <div class="item">
                            <q>The partner is very pleased with the engagement. BMS is quick to resolve issues and
                                provide solutions. They constantly strive to improve shipping rates and genuinely care
                                about the partner's success. Responsiveness and direct communication are hallmarks of
                                their high-quality work. </q>
                            <h3>JABIN KANE</h3>
                            <p>CEO, TOPSMMPANEL.COM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--TESTMONIAL AREA END -->
{% endblock content %}