{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!--HOME SLIDER AREA-->
<div class="espace">

</div>
<div class="welcome-slider-area">
    <div class="welcome-single-slide slider-bg-one">
        <div class="container">
            <div class="row flex-v-center">
                <div class="col-md-10 col-md-offset-1">
                    <div class="welcome-text text-center">

                        <p class="font-home"><span style="color:orange; margin-bottom:3px;">Logistics and
                                Transport</span></p>
                        <div class="home-button">
                            <a href="/service">Our Service</a>
                            <a href="/email">Get A Quote</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="welcome-single-slide slider-bg-two">
        <div class="container">
            <div class="row flex-v-center">
                <div class="col-md-10 col-md-offset-1">
                    <div class="welcome-text text-center">

                        <p class="font-home"><span style="color:red; margin-bottom:3px;"> Environmental services</span>
                        </p>
                        <div class="home-button">
                            <a href="/service">Our Service</a>
                            <a href="/email">Get A Quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="welcome-single-slide slider-bg-three">
        <div class="container">
            <div class="row flex-v-center">
                <div class="col-md-10 col-md-offset-1">
                    <div class="welcome-text text-center">

                        <p class="font-home">
                            <span style="color:rgb(6, 138, 247); margin-bottom:3px;">Wellbeing Consultations</span></p>
                        <div class="home-button">
                            <a href="/service">Our Service</a>
                            <a href="/email">Get A Quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END HOME SLIDER AREA-->
</header>
<!--END TOP AREA-->


<!--ABOUT US-->
<section class="about-details-area section-padding wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12">
                <div class="area-title text-center wow fadeIn">
                    <h2 class="text-orange">about BMS</h2>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <ul class="about-details-menu text-white">
                    <li class="active"><a data-toggle="tab" class=" text-black" href="#company">Company Profile</a></li>
                    <li><a data-toggle="tab" class=" text-black" href="#history">Our History</a></li>
                    <!-- <li><a data-toggle="tab" class=" text-black" href="#report">Annual Report</a></li>-->
                    <li><a data-toggle="tab" class=" text-black" href="#team">Team Member</a></li>
                    <li><a data-toggle="tab" class=" text-black" href="#support">Client Support</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="tab-content about-details-content">
                    <div id="company" class="about-company tab-pane fade in active">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                <div class="about-history-content">
                                    <p>We have good experience in supply chain management, and we offer consultations in
                                        project management and in Sustainable environmental management.
                                        We are known for reliable delivery services, moving in and out, Environmental
                                        services and wellbeing consultations all over the world. We ensure first-class
                                        customer care services and cherish your goods like our own.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                <div class="about-history-content">
                                    <img src="{% static 'img/about/truck1.jpg' %}" alt="">
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                <div class="about-history-content">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                                <div class="about-history-content">
                                    <h3 class=" text-orange">Our Mission</h3>
                                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                    <!-- <a href="#" class="read-more">Learn More</a>-->
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                                <div class="about-history-content">
                                    <img src="{% static 'img/about/about-details-bottom.jpg' %}" alt="">
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                                <div class="about-history-content">
                                    <h3 class=" text-orange">Our Vision</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. </p>
                                    <ul>
                                        <li><i class="fa fa-check"></i> Lorem ipsum dolor sit amet, consectetur.</li>
                                        <li><i class="fa fa-check"></i> Lorem ipsum dolor sit amet, consectetur.</li>
                                        <li><i class="fa fa-check"></i> Lorem ipsum dolor sit amet, consectetur.</li>
                                    </ul>
                                    <!--<a href="#" class="read-more">Learn More</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="history" class="company-history tab-pane fade">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                <div class="about-history-content">
                                    <p>We have good experience in supply chain management, and we offer consultations in
                                        project management and in Sustainable environmental management.
                                        We are known for reliable delivery services, moving in and out, Environmental
                                        services and wellbeing consultations all over the world. We ensure first-class
                                        customer care services and cherish your goods like our own.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                <div class="about-history-content">
                                    <img src="{% static 'img/contact-right.png' %}" alt="">
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                <div class="about-history-content history-list">
                                    <div class="single-history">
                                        <div class="history-year">
                                            <p>2011</p>
                                        </div>
                                        <h4>we start our business</h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s, when an unknown printer took a galley of type and scrambled it to
                                            make a type specimen book. It has survived not only five centuries, but also
                                            the leap into electronic typesetting.</p>
                                    </div>
                                    <div class="single-history">
                                        <div class="history-year">
                                            <p>2012</p>
                                        </div>
                                        <h4>we co-opperate problem solution</h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s, when an unknown printer took a galley of type and scrambled it to
                                            make a type specimen book. It has survived not only five centuries, but also
                                            the leap into electronic typesetting.</p>
                                    </div>
                                    <div class="single-history">
                                        <div class="history-year">
                                            <p>2014</p>
                                        </div>
                                        <h4>we are expanding our network </h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s, when an unknown printer took a galley of type and scrambled it to
                                            make a type specimen book. It has survived not only five centuries, but also
                                            the leap into electronic typesetting.</p>
                                    </div>
                                    <div class="single-history">
                                        <div class="history-year">
                                            <p>2016</p>
                                        </div>
                                        <h4>we are serve worldwide </h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s, when an unknown printer took a galley of type and scrambled it to
                                            make a type specimen book. It has survived not only five centuries, but also
                                            the leap into electronic typesetting.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="report" class="company-anual-reports tab-pane fade">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                <div class="annual-reports">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                            <div class="annual-reports-image">
                                                <img src="{% static 'img/reports/2012.jpg' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                            <div class="annual-reports-content">
                                                <h4>2016 logistics transportation annual reprot</h4>
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard dummy text
                                                    ever since the 1500s, when an unknown printer took a galley of type
                                                    and scrambled it to make a type specimen book. It has survived not
                                                    only five centuries, but also the leap into electronic typesetting,
                                                    remaining essentially unchanged. </p>
                                                <ul>
                                                    <li><i class="fa fa-check"></i> Sed quia consequuntur magni dolores
                                                        eos.</li>
                                                    <li><i class="fa fa-check"></i> Sed quia consequuntur magni dolores
                                                        eos.</li>
                                                    <li><i class="fa fa-check"></i> Sed quia consequuntur magni dolores
                                                        eos.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 pull-right">
                                            <div class="annual-reports-image">
                                                <img src="{% static 'img/reports/2015.jpg' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                            <div class="annual-reports-content">
                                                <h4>2016 logistics transportation annual reprot</h4>
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard dummy text
                                                    ever since the 1500s, when an unknown printer took a galley of type
                                                    and scrambled it to make a type specimen book. It has survived not
                                                    only five centuries, but also the leap into electronic typesetting,
                                                    remaining essentially unchanged. </p>
                                                <ul>
                                                    <li><i class="fa fa-check"></i> Sed quia consequuntur magni dolores
                                                        eos.</li>
                                                    <li><i class="fa fa-check"></i> Sed quia consequuntur magni dolores
                                                        eos.</li>
                                                    <li><i class="fa fa-check"></i> Sed quia consequuntur magni dolores
                                                        eos.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                            <div class="annual-reports-image">
                                                <img src="{% static 'img/reports/2016.jpg' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                            <div class="annual-reports-content">
                                                <h4>2016 logistics transportation annual reprot</h4>
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard dummy text
                                                    ever since the 1500s, when an unknown printer took a galley of type
                                                    and scrambled it to make a type specimen book. It has survived not
                                                    only five centuries, but also the leap into electronic typesetting,
                                                    remaining essentially unchanged. </p>
                                                <ul>
                                                    <li><i class="fa fa-check"></i> Sed quia consequuntur magni dolores
                                                        eos.</li>
                                                    <li><i class="fa fa-check"></i> Sed quia consequuntur magni dolores
                                                        eos.</li>
                                                    <li><i class="fa fa-check"></i> Sed quia consequuntur magni dolores
                                                        eos.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 pull-right">
                                            <div class="annual-reports-image">
                                                <img src="{% static 'img/reports/2017.jpg' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                            <div class="annual-reports-content">
                                                <h4>2016 logistics transportation annual reprot</h4>
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard dummy text
                                                    ever since the 1500s, when an unknown printer took a galley of type
                                                    and scrambled it to make a type specimen book. It has survived not
                                                    only five centuries, but also the leap into electronic typesetting,
                                                    remaining essentially unchanged. </p>
                                                <ul>
                                                    <li><i class="fa fa-check"></i> Sed quia consequuntur magni dolores
                                                        eos.</li>
                                                    <li><i class="fa fa-check"></i> Sed quia consequuntur magni dolores
                                                        eos.</li>
                                                    <li><i class="fa fa-check"></i> Sed quia consequuntur magni dolores
                                                        eos.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="team" class="team-list tab-pane fade">
                        <div class="row">
                            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                                <div class="single-team">
                                    <div class="member-image">
                                        <img src="{% static 'img/team/member-1.jpg' %}" alt="">
                                    </div>
                                    <div class="member-details">
                                        <h3>Amable T.R</h3>
                                        <p>Founder</p>
                                        <div class="member-social-bookmark">
                                            <ul class="social-bookmark">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                                <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                                <div class="single-team">
                                    <div class="member-image">
                                        <img src="{% static 'img/team/member-2.jpg' %}" alt="">
                                    </div>
                                    <div class="member-details">
                                        <h3>Joyce R</h3>
                                        <p>CO-Founder </p>
                                        <div class="member-social-bookmark">
                                            <ul class="social-bookmark">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                                <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                                <div class="single-team">
                                    <div class="member-image">
                                        <img src="{% static 'img/team/member-3.jpg' %}" alt="">
                                    </div>
                                    <div class="member-details">
                                        <h3>Labong Mitro</h3>
                                        <p>Manager</p>
                                        <div class="member-social-bookmark">
                                            <ul class="social-bookmark">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                                <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                                <div class="single-team">
                                    <div class="member-image">
                                        <img src="{% static 'img/team/member-4.jpg' %}" alt="">
                                    </div>
                                    <div class="member-details">
                                        <h3>John Part</h3>
                                        <p>Driver</p>
                                        <div class="member-social-bookmark">
                                            <ul class="social-bookmark">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                                <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                                <div class="single-team">
                                    <div class="member-image">
                                        <img src="{% static 'img/team/member-5.jpg' %}" alt="">
                                    </div>
                                    <div class="member-details">
                                        <h3>Jora Pata</h3>
                                        <p>Driver</p>
                                        <div class="member-social-bookmark">
                                            <ul class="social-bookmark">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                                <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                                <div class="single-team">
                                    <div class="member-image">
                                        <img src="{% static 'img/team/member-6.jpg' %}" alt="">
                                    </div>
                                    <div class="member-details">
                                        <h3>Dimra Ajax</h3>
                                        <p>Driver</p>
                                        <div class="member-social-bookmark">
                                            <ul class="social-bookmark">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                                <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="support" class="support-content tab-pane fade">
                        <div class="row">
                            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                                <div class="single-promo">
                                    <div class="promo-icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                                    <div class="promo-details">
                                        <h3>Our Location</h3>
                                        <p>Junailijankatu 1<br>
                                            PoBox 33560,<br> Tampere,<br>
                                            Finland</p>
                                    </div>
                                </div>
                                <div class="single-promo">
                                    <div class="promo-icon"><i class="fa fa-commenting" aria-hidden="true"></i></div>
                                    <div class="promo-details">
                                        <h3>Our Hot line</h3>
                                        <p>Phone: +358465608744</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                                <div class="single-promo">
                                    <div class="promo-icon"><i class="fa fa-life-ring" aria-hidden="true"></i></div>
                                    <div class="promo-details">
                                        <h3>24/ 7 Support</h3>
                                        <p>we are available 27/7 do not hesitate to contact us anytime</p>
                                    </div>
                                </div>
                                <div class="single-promo">
                                    <div class="promo-icon"><i class="fa fa-envelope" aria-hidden="true"></i>
                                    </div>
                                    <div class="promo-details">
                                        <h3>Our Email</h3>
                                        <p>E-mail: betamultiservices@gmail.com</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                                <div class="promo-img">
                                    <img src="img/promo/promo_troli.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--ABOUT DETAILS AREA END-->

<div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12">
    <div class="area-title text-center wow fadeIn">
        <h2 class="text-orange">GET QUOTATION</h2>
        <p>Fill the form and get quotation for free
        </p>
    </div>
</div>

<!--ABOUT AREA-->
<section class="about-area gray-bg section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <div class="quote-form-area wow fadeIn">
                    <h3>Get A Quotation</h3>
                    <form class="quote-form" action="#">
                        <p class="width-full">
                            <input type="text" name="name" id="name" placeholder="Your Name">
                        </p>
                        <p class="width-half">
                            <input type="email" name="email" id="email" placeholder="Email">
                            <input class="pull-right" type="phone" name="phone" id="phone" placeholder="Phone">
                        </p>
                        <p class="width-half">
                            <input type="text" name="type" id="type" placeholder="Type">
                            <input class="pull-right" type="text" name="quantity" id="quantity" placeholder="Quantity">
                        </p>
                        <p class="width-full">
                            <input type="text" name="destination" id="destination" placeholder="Destination">
                        </p>
                        <p>
                            <textarea name="quote-message" id="quote-message" cols="30" rows="4"
                                placeholder="Your Message..."></textarea>
                        </p>
                        <button type="submit">Send</button>
                    </form>
                </div>
            </div>
            <div class="col-md-7 col-lg-7 col-md-offset-1 col-lg-offset-1 col-sm-12 col-xs-12">
                <div class="about-content-area wow fadeIn">
                    <div class="about-content">
                        <h2>We have experience in this passion</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour, or randomised words which don't look
                            even slightly believable. If you are going to use a passage of Lorem Ipsum,</p>
                        <a href="#">read more <i class="fa fa-angle-right"></i></a>
                    </div>
                    <div class="about-count">
                        <div class="single-about-count">
                            <h4><i class="fa fa-suitcase"></i> 120</h4>
                            <p>Our Customers</p>
                        </div>
                        <div class="single-about-count">
                            <h4><i class="fa fa-thumbs-o-up"></i> 98%</h4>
                            <p>Happy Customers</p>
                        </div>
                        <div class="single-about-count">
                            <h4><i class="fa fa-users"></i> 7</h4>
                            <p>Operation cities</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--ABOUT AREA END-->
<!--SERVICE AREA-->
<section class="service-area-two section-padding ">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12">
                <div class="area-title text-center wow fadeIn">
                    <h2>Our Service</h2>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium, </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <div class="service-content wow fadeIn">
                    <h2 class="text-orange">LOGISTICS AND TRANSPORT</h2>
                </div>
            </div>
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <div class="service-two-content wow fadeIn">
                    <div class="row no-margin">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 no-padding">
                            <div class="single-service-two border">
                                <div class="service-icon-two"><i class="fa fa-truck"></i></div>
                                <h4>Delivery Services</h4>
                                <p>Lorem Ipsum is simply dummy text.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 no-padding">
                            <div class="single-service-two border-top border-bottom border-right">
                                <div class="service-icon-tra"><i class="fa fa-car" aria-hidden="true"></i></div>
                                <h4>Transportation</h4>
                                <p>Lorem Ipsum is simply dummy text.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 no-padding">
                            <div class="single-service-two border-left border-right border-bottom">
                                <div class="service-icon-mvi"><i class="fa fa-universal-access" aria-hidden="true"></i>
                                </div>
                                <h4>Moving in</h4>
                                <p>Lorem Ipsum is simply dummy text.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 no-padding">
                            <div class="single-service-two border-right border-bottom">
                                <div class="service-icon-mvo"><i class="fa fa-dropbox"></i></div>
                                <h4>Moving out</h4>
                                <p>Lorem Ipsum is simply dummy text.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<div class="container ">
    <div class="row ">
        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
            <div class="service-content wow fadeIn">
                <h2 class="text-orange">CONSLUTATION SERVICES</h2>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
            <div class="service-two-content wow fadeIn">
                <div class="row no-margin">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 no-padding">
                        <div class="single-service-two border">
                            <div class="service-icon-pro"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
                            <h4>Project Management</h4>
                            <p>Lorem Ipsum is simply dummy text.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 no-padding">
                        <div class="single-service-two border-top border-bottom border-right">
                            <div class="service-icon-env"><i class="fa fa-envira" aria-hidden="true"></i></div>
                            <h4>Environmental Management</h4>
                            <p>Lorem Ipsum is simply dummy text.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--SERVICE AREA END-->

<div class="area-title text-center wow fadeIn">...........................................................</div>

<!--PROMO AREA-->
<section class="promo-area">
    <div class="promo-top-area section-padding wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="single-promo">

                        <div class="single-promo">

                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                            <div class="single-promo">

                                <div class="single-promo">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="promo-bottom-area section-padding">
                    <div class="promo-botton-area-bg" data-stellar-background-ratio="0.6"></div>
                    <div class="container">
                        <div class="row">
                            <div
                                class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 col-sm-12 col-xs-12 text-center">
                                <div class="promo-bottom-content wow fadeIn">
                                    <h2>we provide Local logistics service </h2>
                                    <a href="/email" class="read-more">Get a quotation</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</section>
<!--PROMO AREA END-->
<!--BLOG AREA
<section class="blog-area gray-bg padding-top">
    <div class="container">
        <div class="row">
            {% for obj in latest %}
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="single-blog wow fadeInUp" data-wow-delay="0.2s">
                    <div class="blog-image">
                        <a href="{{ obj.get_absolute_url }}"><img src="{{obj.thumbnail.url}}" alt=""
                                class="img-fluid img-thumbnail""></a>
                        </div>
                        <div class=" blog-details text-center">
                            <div class="blog-meta"><a href="#"><i class="fa fa-truck"></i></a></div>
                            <h3><a href="single-blog.html">{{obj.title}}</a></h3>
                            <p> {{ obj.overview|linebreaks|truncatechars:100}}</p>
                            <a href="{{ obj.get_absolute_url }}" class="read-more">View Deals</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
BLOG AREA END-->

<section class="contact-area" id="contact">
    <div class="contact-form-area section-padding gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="area-title text-center">
                        <h3>GET IN TOUCH</h3>
                        <p>Need any help jusct send a message via our email address</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                    <div class="contact-form">
                        <form action="process.php" id="contact-form" method="post">
                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <div class="form-group" id="name-field">
                                        <div class="form-input">
                                            <input type="text" class="form-control" id="form-name" name="form-name"
                                                placeholder="Name.." required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <div class="form-group" id="email-field">
                                        <div class="form-input">
                                            <input type="email" class="form-control" id="form-email" name="form-email"
                                                placeholder="Email.." required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                    <div class="form-group" id="phone-field">
                                        <div class="form-input">
                                            <input type="text" class="form-control" id="form-phone" name="form-phone"
                                                placeholder="Subject..">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                    <div class="form-group" id="message-field">
                                        <div class="form-input">
                                            <textarea class="form-control" rows="6" id="form-message"
                                                name="form-message" placeholder="Your Message Here..."
                                                required></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <button type="submit">Send</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                    <div class="contact-image">
                        <div class="contact-address">
                            <h4>Address</h4>
                            <p>Phone: <a href="callto:+358465608744">+358465608744</a></p>
                            <p>Email: <a href="mailto:betamultiservices@gmail.com">betamultiservices@gmail.com</a></p>
                            <address>
                                Office : Junailijankatu 1
                                PoBox 33560, Tampere
                                Finland.
                            </address>
                        </div>
                        <div class="social-bookmark">
                            <h4>Follow Us </h4>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!--CONTACT US AREA END-->
<!--TESTMONIAL AREA -->
<section class="testmonial-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12">
                <div class="area-title text-center wow fadeIn">
                    <h2>what client’s say</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div
                class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                <div class="client-photo-list wow fadeIn">
                    <div class="client_photo">
                        <div class="item">
                            <img src="{% static 'img/testmonial/1.jpg' %}" alt="">
                        </div>
                        <div class="item">
                            <img src="{% static 'img/testmonial/2.jpg' %}" alt="">
                        </div>
                        <div class="item">
                            <img src="{% static 'img/testmonial/3.jpg' %}" alt="">
                        </div>
                        <div class="item">
                            <img src="{% static 'img/testmonial/1.jpg' %}" alt="">
                        </div>
                        <div class="item">
                            <img src="{% static 'img/testmonial/2.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="client_nav">
                    <span class="fa fa-angle-left testi_prev"></span>
                    <span class="fa fa-angle-right testi_next"></span>
                </div>
            </div>
            <div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
                <div class="client-details-content wow fadeIn">
                    <div class="client_details">
                        <div class="item">
                            <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </q>
                            <h3>JABIN KANE</h3>
                            <p>CEO, TOPSMMPANEL.COM</p>
                        </div>
                        <div class="item">
                            <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </q>
                            <h3>JABIN KANE</h3>
                            <p>CEO, TOPSMMPANEL.COM</p>
                        </div>
                        <div class="item">
                            <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </q>
                            <h3>JABIN KANE</h3>
                            <p>CEO, TOPSMMPANEL.COM</p>
                        </div>
                        <div class="item">
                            <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </q>
                            <h3>JABIN KANE</h3>
                            <p>CEO, TOPSMMPANEL.COM</p>
                        </div>
                        <div class="item">
                            <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </q>
                            <h3>JABIN KANE</h3>
                            <p>CEO, TOPSMMPANEL.COM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--TESTMONIAL AREA END -->

{% endblock %}