{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<!--SERVICE AREA-->
<div class="espace">
</div>
<section class="service-area-two section-padding gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12">
                <div class="area-title text-center wow fadeIn ">
                    <h2 class="text-orange ">Our Service</h2>
                    <p class="text-white">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                        doloremque
                        laudantium, </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <div class="service-content wow fadeIn">
                    <h2 class="text-orange">LOGISTICS AND TRANSPORT</h2>
                </div>
            </div>
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <div class="service-two-content wow fadeIn">
                    <div class="row no-margin">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 no-padding">
                            <div class="single-service-two border">
                                <div class="service-icon-two"><i class="fa fa-truck"></i></div>
                                <h4 class="text-white">Delivery Services</h4>
                                <p class="text-white">Lorem Ipsum is simply dummy text.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 no-padding">
                            <div class="single-service-two border-top border-bottom border-right">
                                <div class="service-icon-tra"><i class="fa fa-car" aria-hidden="true"></i></div>
                                <h4 class="text-white">Transportation</h4>
                                <p class="text-white">Lorem Ipsum is simply dummy text.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 no-padding">
                            <div class="single-service-two border-left border-right border-bottom">
                                <div class="service-icon-mvi"><i class="fa fa-universal-access" aria-hidden="true"></i>
                                </div>
                                <h4 class="text-white">Moving in</h4>
                                <p class="text-white">Lorem Ipsum is simply dummy text.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 no-padding">
                            <div class="single-service-two border-right border-bottom">
                                <div class="service-icon-mvo"><i class="fa fa-dropbox"></i></div>
                                <h4 class="text-black">Moving out</h4>
                                <p class="text-black">Lorem Ipsum is simply dummy text.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<div class="container gray-bg">
    <div class="row ">
        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
            <div class="service-content wow fadeIn">
                <h2 class="text-orange">CONSLUTATION SERVICES</h2>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
            <div class="service-two-content wow fadeIn">
                <div class="row no-margin">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 no-padding">
                        <div class="single-service-two border">
                            <div class="service-icon-pro"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
                            <h4 class="text-black">Project Management</h4>
                            <p class="text-black">Lorem Ipsum is simply dummy text.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 no-padding">
                        <div class="single-service-two border-top border-bottom border-right">
                            <div class="service-icon-env"><i class="fa fa-envira" aria-hidden="true"></i></div>
                            <h4 class="text-black">Environmental Management</h4>
                            <p class="text-black">Lorem Ipsum is simply dummy text.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--SERVICE AREA END-->

<div class="area-title text-center wow fadeIn">...........................................................</div>

<!--PROMO AREA-->
<section class="promo-area">
    <div class="promo-top-area section-padding wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="single-promo">

                        <div class="single-promo">

                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                            <div class="single-promo">

                                <div class="single-promo">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="promo-bottom-area section-padding">
                    <div class="promo-botton-area-bg" data-stellar-background-ratio="0.6"></div>
                    <div class="container">
                        <div class="row">
                            <div
                                class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 col-sm-12 col-xs-12 text-center">
                                <div class="promo-bottom-content wow fadeIn">
                                    <h2>we provide Local logistics service </h2>
                                    <a href="/email" class="read-more">Get a quotation</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</section>
<!--PROMO AREA END-->
<!--CLIENTS AREA-->
<section class="clients-area section-padding wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="client-list">
                    <div class="single-client">
                        <img src="img/client/1.jpg" alt="">
                    </div>
                    <div class="single-client">
                        <img src="img/client/2.jpg" alt="">
                    </div>
                    <div class="single-client">
                        <img src="img/client/3.jpg" alt="">
                    </div>
                    <div class="single-client">
                        <img src="img/client/4.jpg" alt="">
                    </div>
                    <div class="single-client">
                        <img src="img/client/5.jpg" alt="">
                    </div>
                    <div class="single-client">
                        <img src="img/client/1.jpg" alt="">
                    </div>
                    <div class="single-client">
                        <img src="img/client/2.jpg" alt="">
                    </div>
                    <div class="single-client">
                        <img src="img/client/3.jpg" alt="">
                    </div>
                    <div class="single-client">
                        <img src="img/client/4.jpg" alt="">
                    </div>
                    <div class="single-client">
                        <img src="img/client/5.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--CLIENTS AREA END-->

{% endblock content %}