{% extends "base.html" %}
{% load static %}
{% block content %}
<!--/ Intro Skew Star /-->
  <div class="intro intro-single route bg-image" style="background-image: url({% static 'img/overlay-bg.jpg'%})">
    <div class="overlay-mf"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <h2 class="intro-title mb-4"></h2>
          <ol class="breadcrumb d-flex justify-content-center">
            <li class="breadcrumb-item">
              <a href="/"></a>
            </li>
            <li class="breadcrumb-item">
              <a href="/login"></a>
            </li>
            <li class="breadcrumb-item">
              <a href="/register"></a>
            </li>
            <li class="breadcrumb-item">
              <a href="/logout"></a>
            </li>
            <li class="breadcrumb-item active"></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->
<div class="testimonials paralax-mf bg-image" style="background-image: url({% static 'img/overlay-bg.jpg' %})">
    <div class=""></div>
    <div class="author-test text-center ">
                <img src="{% static 'img/intro-bg2.jpg' %}" alt="" class="rounded-circle b-shadow-a text-center mb-4" style="width:150px; height:150px;">
                <span class="author"></span>
              </div>

        <div class=" text-center orange-text mt-4" style="color:orange;">
            <h1 class="intro-title overlay" style="color:orange;">Thank you for your email, we will contact you shortly!</h1>
            <h5 class="text-center"></h5>
            <h6 class="text-center" style="color:salmon;">Management Team!</h6>
      
</div>
</div>
  </div>



{% endblock %}